p{
	font-family: 華康雅風體W3;
	font-size: 18px;
	font-weight: bold;
}
table{
	border: 0;
	font-family: impact;
	 padding-top:15px; 
  	padding-left:25px; 
  	padding-right:40px; 
  	padding-bottom:40px; 
}