p{
	font-family: 標楷體;
	line-height: 40px;
	letter-spacing: 4px;
	color: blue;
	font-size: 20px;
}
table { 
  border: 1; 
  font-family: Meiryo; 
  font-size:18px; 
  border-collpase:collpase; //合為單一的邊框
  width:600px;
  border-color:red; 
  border-style:dashed;
  font-family: Meiryo;
} 
th{
	font-family: 標楷體;
	background-color: CC9966;
	text-align: left;
}
td{
	background-color: FFFF66;
	text-align: left;
}
.black{
	font-size: 16px;
	color:black;
}